<!-- Weather Info Tiles -->
#{list items:_station.latestReading(), as:'reading'}
<section class="section p-5">
    <div class="container">
        <div class="columns">
            <div class="column is-5-desktop">
                <div class="box has-background-dark weather-box">
                    <div class="columns is-gapless is-multiline is-mobile has-text-white">
                        <div class="column is-full">
                            <h4 class="title is-2 is-uppercase has-text-weight-bold has-text-white">
                                ${_station.name}</h4>
                        </div>
                        <div class="column is-one-quarter"></div>
                        <div class="column is-half has-text-centered">
                            <img src="/public/images/weathericons/weather-${reading.code}.svg" alt="weather" style="max-height: 200px;"
                                 class="">
                        </div>
                        <div class="column is-full is-size-3 has-text-weight-bold has-text-centered ">
                            <p>${reading.weatherCode(reading.code)}</p>
                        </div>
                        <div class="column is-two-fifths has-text-centered has-text-weight-bold">
                            <!-- <div class="celsius is-size-5">Temperature</div> -->
                            <div class="celsius is-size-1">${reading.temperature}&#176C</div>
                            <div class="fahrenheit">${reading.fahrenheit()}&#176F</div>
                        </div>
                        <div class="column is-two-fifths has-text-centered has-text-weight-bold">
                            <!-- <div class="celsius is-size-5 has-text-centered has-text-weight-bold">Violent Storm</div>    -->
                            <div class="columns is-centered is-vcentered">
                                <div class="column">
                                    <div class="is-size-1 has-text-centered has-text-weight-bold pr-0">${reading.pressure}</div>
                                    <div class="">hPa</div>
                                </div>
                                <div class="column p-0">
                                    <figure class="image">
                                        <img src="/public/images/weathericons/wind-beaufort-${reading.beaufort()}.svg">
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="column is-one-fifth has-text-centered">
                            <figure class="image">
                                <img src="/public/images/weathericons/compass-N.svg" style="max-height: 100px;">
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="box has-background-info weather-box">
                    <h4 class="title is-2 is-uppercase has-text-weight-bold has-text-white">Latest Reading</h4>
                    <div class="columns is-multiline">
                        <div class="column is-6-tablet is-6-desktop">
                            <div class="box weather-box">
                                <div class="media">
                                    <div class="media-content has-text-left">
                                        <h3 class="title is-2 is-uppercase has-text-info has-text-weight-bold">Code</h3>
                                    </div>
                                </div>
                                <h4 class="title">${reading.weatherCode(reading.code)}</h4>
                             <!--   Code: ${reading.code} -->
                            </div>
                        </div>
                        <div class="column is-6-tablet is-6-desktop">
                            <div class="box weather-box">
                                <div class="media">
                                    <div class="media-content has-text-left">
                                        <h3 class="title is-2 is-uppercase has-text-info has-text-weight-bold">
                                            Temperature</h3>
                                    </div>
                                </div>
                                <!-- <h4 class="title">${reading.temperature}&#176C/${reading.fahrenheit()}&#176F</h4> -->
                                <h4 class="title">${reading.temperature}&#176C/${reading.fahrenheit()}&#176F</h4>
                            </div>
                        </div>
                        <div class="column is-6-tablet is-6-desktop">
                            <div class="box weather-box">
                                <div class="media">
                                    <div class="media-content has-text-left">
                                        <h3 class="title is-2 is-uppercase has-text-info has-text-weight-bold">Wind</h3>
                                    </div>
                                </div>
                                <!--  <h4 class="title">${reading.windSpeed}km/hr ${reading.beaufort()}bft</h4>-->
                                 <h4 class="title">${reading.beaufort()}bft</h4>
                             </div>
                         </div>
                         <div class="column is-6-tablet is-6-desktop">
                             <div class="box weather-box">
                                 <div class="media">
                                     <div class="media-content has-text-left">
                                         <h3 class="title is-2 is-uppercase has-text-info has-text-weight-bold">
                                             Pressure</h3>
                                     </div>
                                 </div>
                                 <h4 class="title">${reading.pressure} hPa</h4>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 #{/list}
 <!-- Weather Info Tiles End -->