<!-- Weather Info Tiles -->
#{list items:_station.latestReading(), as:'reading'}
<section class="section px-5 py-0">
    <div class="container">
        <div class="columns">
            <div class="column is-5-desktop">
                <div class="box has-background-dark weather-box">
                    <div class="columns is-gapless is-multiline is-mobile has-text-white">
                        <div class="column is-full">
                            <div class="columns is-gapless  is-vcentered">
                                <div class="column is-three-quarters">
                                    <!-- content for the Station name -->
                                    <h4 class="title is-2 is-uppercase has-text-weight-bold has-text-white">
                                        ${_station.name}</h4>
                                </div>
                                <div class="column">
                                    <div class="column has-text-weight-bold has-text-right p-0">
                                        <!-- content for the Latitude -->
                                        Latitude:
                                    </div>
                                    <div class="column has-text-weight-bold has-text-right p-0">
                                        <!-- content for Longitude -->
                                        Longitude:
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="column has-text-weight-bold has-text-right py-0 px-2">
                                        <!-- content for the Latitude -->
                                        52.1
                                    </div>
                                    <div class="column has-text-weight-bold has-text-right py-0 px-2">
                                        <!-- content for Longitude -->
                                        -7.21
                                    </div>
                                </div>                            </div>
                        </div>
                        <!--    <div class="column is-one-quarter"></div>   -->
                        <div class="column is-half has-text-centered">
                            <hr class="mt-3 mb-0">
                            <img src="/public/images/weathericons/weather-${reading.code}.svg" alt="weather"
                                 style="max-height: 180px;"
                                 class="">
                        </div>
                        <div class="column is-half has-text-centered">
                            <hr class="mt-3 mb-0">
                            <img src="/public/images/weathericons/wind-beaufort-${reading.beaufort()}.svg" alt="wind"
                                 style="max-height: 180px;"
                                 class="">
                        </div>
                        <div class="column is-half is-size-6-mobile is-size-4 has-text-weight-bold has-text-centered ">
                            <p>${reading.weatherCode(reading.code)}</p>
                            <hr class="mt-3 mb-0">
                        </div>
                        <div class="column is-half is-size-6-mobile is-size-4 has-text-weight-bold has-text-centered ">
                            <!-- <p>${reading.beaufort()}</p> -->
                            <p>${reading.beaufort("label")}</p>
                            <hr class="mt-3 mb-0">
                        </div>
                        <div class="column is-two-fifths has-text-centered has-text-weight-bold">
                            <div class="is-size-1 is-flex is-vcentered is-justify-content-center">
                                ${reading.temperature}<!--&#176C-->
                                <img class="celsius" src="/public/images/weathericons/thermometer-celsius.svg" style="max-height: 60px;">
                            </div>
                            <div class="is-flex is-vcentered is-justify-content-center">
                                ${reading.fahrenheit()}<!--&#176F-->
                                <img class="fahrenheit" src="/public/images/weathericons/thermometer-fahrenheit.svg" style="max-height: 40px;">
                            </div>
                        </div>
                        <div class="column is-two-fifths has-text-centered has-text-weight-bold">
                            <div class="is-size-1 is-flex is-vcentered is-justify-content-center">
                                ${reading.pressure}
                            </div>
                            <div class="">hPa</div>
                        </div>
                        <div class="column is-one-fifths has-text-centered is-vcentered">
                            <figure class="image is-vcentered">
                                <img src="/public/images/weathericons/compass-N.svg" style="max-height: 100px;">
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
            <div class="column">
                <div class="box has-background-info weather-box">
                    <h4 class="title is-3 is-uppercase has-text-weight-bold has-text-white mb-3">Latest Reading</h4>

                    <table class="table latest-reading is-fullwidth is-bordered">
                        <tbody>
                        <tr>
                            <td class="has-background-grey has-text-white is-vcentered">
                                <!-- Code -->
                                <div class="columns is-vcentered">
                                    <div class="column is-3">
                                        <figure class="image">
                                            <img src="/public/images/weathericons/weather-${reading.code}.svg"
                                                 alt="weather"
                                                 style="max-height: 64px;">
                                        </figure>
                                    </div>
                                    <div class="column is-vcentered is-uppercase has-text-weight-bold">
                                        Code
                                    </div>
                                </div>
                            </td>
                            <td class="is-vcentered">
                                ${reading.code} <br>
                                ${reading.weatherCode(reading.code)}
                            </td>
                        </tr>
                        <tr>
                            <td class="has-background-grey has-text-white is-vcentered">
                                <!-- Temperature -->
                                <div class="columns is-vcentered">
                                    <div class="column is-3">
                                        <figure class="image">
                                            <img src="/public/images/weathericons/thermometer.svg" alt="temperature">
                                        </figure>
                                    </div>
                                    <div class="column is-vcentered is-uppercase has-text-weight-bold">
                                        Temperature
                                    </div>
                                </div>
                            </td>
                            <td class="is-vcentered">
                                ${reading.temperature} &#176C <br>
                                ${reading.fahrenheit()} &#176F
                            </td>
                        </tr>
                        <tr>
                            <td class="has-background-grey has-text-white is-vcentered">
                                <!-- Wind -->
                                <div class="columns is-vcentered">
                                    <div class="column is-3">
                                        <figure class="image">
                                            <img src="/public/images/weathericons/wind-beaufort-${reading.beaufort()}.svg"
                                                 alt="wind">
                                        </figure>
                                    </div>
                                    <div class="column is-vcentered is-uppercase has-text-weight-bold">
                                        Wind
                                    </div>
                                </div>
                            </td>
                            <td class="is-vcentered">
                                ${reading.windSpeed} km/hr <br>
                                ${reading.beaufort()} bft <br>
                                ${reading.beaufort("label")}
                            </td>
                        </tr>
                        <tr>
                            <td class="has-background-grey has-text-white is-vcentered">
                                <!-- Pressure -->
                                <div class="columns is-vcentered">
                                    <div class="column is-3">
                                        <figure class="image">
                                            <img src="/public/images/weathericons/barometer.svg" alt="pressure">
                                        </figure>
                                    </div>
                                    <div class="column is-vcentered is-uppercase has-text-weight-bold">
                                        Pressure
                                    </div>
                                </div>
                            </td>
                            <td class="is-vcentered">
                                ${reading.pressure} hPa
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
#{/list}
<!-- Weather Info Tiles End -->