<div class="table-container">
    <table class="table is-fullwidth is-bordered is-hoverable is-striped is-narrow ">
    <thead>
    <tr class="is-selected has-background-info is-uppercase is-size-6">
        <th class="has-text-centered">Code</th>
        <th class="has-text-centered">Temp</th>
        <th class="has-text-centered">Wind Speed</th>
        <th class="has-text-centered">Pressure</th>
    </tr>
    </thead>
    <tbody>
    #{list items:_station.readings, as:'reading'}
    <tr>
        <td>${reading.code}</td>
        <td>${reading.temperature}</td>
        <td>${reading.windSpeed}</td>
        <td>${reading.pressure}</td>
    </tr>
    #{/list}
    </tbody>
</table>
</div>