#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

<!-- Content Start -->
<section class="section py-5">
    <div class="container">

        <!-- Hero Welcome USer -->
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title is-uppercase  is-size-3">
                        <span class="has-text-white has-text-weight-bold">Weather</span><span
                            class="has-text-warning">Top</span>
                        <span class="has-text-white has-text-weight-bold">Stations</span>
                    </h1>
                    <h2 class="subtitle">
                        Below is a list of all our current stations
                    </h2>
                </div>
            </div>
        </section>
        <!-- Hero Welcome User End-->

        <!-- Stations -->
        #{list items:stations, as:'station'}
        <!-- Station#${station.id}: ${station.name} -->
        <div class="column is-12 mt-5 p-0">
            <div class="card events-card ">
                <header class="card-header has-background-info">
                    <p class="card-header-title is-uppercase has-text-white is-size-4 py-2">
                        <!--${station.name}-->
                    <div class="empty-div"></div>
                    </p>
                </header>

                #{latestreadings station:station /}

                <div class="columns is-centered px-5">
                    <div class="column is-centered mt-0">
                        <div class="table-container">
                            #{listreadings station:station/}
                        </div>
                    </div>
                </div>
                <footer class="card-footer has-background-grey">
                    <!-- Put More Here -->
                    <a href="#" class="card-footer-item has-text-white is-size-6 py-0">
                         <span class="icon pr-4">
                          <i class="fa-solid has-text-white fa-edit fa-lg"></i>
                        </span>
                        <span class="m-1">
                             Add Readings
                        </span>
                    </a>
                    <a  class="card-footer-item js-modal-trigger has-text-white is-size-6 p-0"
                       data-target="modal-cancel" aria-label="more options">
                        <div id="delete-station">
                           <span class="icon pr-3">
                          <i class="fa-solid has-text-white fa-trash fa-lg"></i>
                        </span>
                            <span class="m-1">
                            Delete the Station
                        </span>
                        </div>
                    </a>
                </footer>
            </div>
        </div>
        <!-- Station -->
        #{/list}
        <!-- Stations End -->
    </div>
</section>
<!-- Modal Start -->
<div id="modal-cancel" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head has-background-info py-0">
            <p class="modal-card-title has-text-weight-semibold	is-uppercase has-text-white is-size-5 py-4">Delete
                Station</p>
            <button class="delete is-size-4" aria-label="close"></button>
        </header>
        <section class="modal-card-body p-4">
            <!-- Content ... -->
            <div class="content">
                <div class="is-size-4 has-text-weight-semibold has-text-centered pb-0">
                    Are you sure you want to delete the station?
                </div>
            </div>
        </section>
        <footer class="modal-card-foot has-background-grey py-0">
            <!--    <button class="button is-danger is-normal py-1 ">Delete Station</button>
                <button class="button is-normal py-1 ">Cancel</button>
                -->
            <a href="#" class="card-footer-item deleteStation has-text-white is-size-6 py-2">Delete the Station</a>
            <a class="card-footer-item deleteStation has-text-white is-size-6 py-2">Cancel</a>
        </footer>
    </div>
</div>
<!-- Modal End -->
<!-- Content End -->