<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>#{get 'title' /}</title>

    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://kit.fontawesome.com/dd084b05a9.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>

    <!-- Custom JS Scripts & CSS -->
    <link rel="stylesheet" href="/public/css/style.css">
    <script async type="text/javascript" src="/public/js/main.js"></script>
</head>

<body>

<!-- Start -->
<section class="is-fullheight is-flex is-flex-direction-column">

    <!-- Content Start -->
    #{doLayout /}
    <!-- Content End -->

    <!-- Footer Start -->
    <footer class="has-text-centered is-flex-align-items-flex-end mt-auto mb-4">
        <large>
            <span class="has-text-grey">Copyright @2023 </span><span
                class="has-text-grey has-text-weight-bold is-uppercase">Weather</span><span
                class="has-text-warning is-uppercase">Top</span> <span class="has-text-grey">Inc.</span>
        </large>
    </footer>
    <!-- Footer End -->

</section>
<!-- End -->
</body>
</html>